PORT=3000
TTN_API_URL=https://eu1.cloud.thethings.network/api/v3
TTN_API_KEY=replace-with-your-ttn-api-token
TTN_APP_ID_MFC_1=mfc-control-boxes
TTN_DEVICE_ID_MFC_1=mfc-box-1
TTN_APP_ID_MFC_2=mfc-control-boxes
TTN_DEVICE_ID_MFC_2=mfc-box-2
